
  body {
    
    font-family: Arial, sans-serif;
  
}

.container {
   
  
    padding: 20px;
}

.header {
    position: fixed absolute;
    top: 0;
    left: 0;
    width: 10%;
    background-color: rgb(255, 255, 255);
    color: #fff;
    z-index: 100;
  
}

.fundo {

 background-color: #ffffff33;
 background-image: url("https://i.imgur.com/WR3tUIr.jpg");
 height: 440px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 150px;
    height: auto;
}

.menu ul {
    list-style-type: none;
    padding-left: 0px;
    display: flex;
}

.menu li {
    margin-left: 50px;
}

.menu a {
    text-decoration: none;
    color: rgba(70, 69, 69, 0.911);
    font-weight: bold;
    transition: color 0.3s;
}

.menu a:hover {
    color: #9470f5;
}

.footer {
    position: fixed absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(201, 201, 201, 0.418);
    color: rgb(82, 80, 80);
    text-align: center;
    padding: 10px 0;
}
.img{
  width: 50px;
height: 30px;
}

/*  */
.linha {
    height: 1px; /* */
    background-color: rgba(70, 69, 69, 0.651); 
  
}

.frase-1{
  color: #fff;
  font-size: 35px;
  text-align: center;
  
}

.frase-2{
  color: #fff;
  font-size: 20px;
  margin-top: 30px;
}

.frase-3{
  color: rgb(255, 255, 255);
  font-size: 16px;
  margin-top: 25px;
}

.meuBotao{
  margin-top: 20px;
  width: 190px;
  height: 65px;
  border-radius: 20px;
  font-size: 20px;
   background-color:  #7c21c7;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
 
}
.meuBotao:hover {
    background-color: rgb(45, 3, 58);
}
.card { 
  
background-color: rgb(255, 255, 255);
padding: 120px;

}

.card-text{ 
  background-color: #8839c9b2;
  padding: 10px;
  height: 100px;
  width: 450px;
  margin: center;

  border-radius: 10px;
  border:solid 2px;
  border-color: rgb(152, 18, 179);
  color: #fff; 
  
}

.oii{
  background-color: aqua;
}
