body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    position: fixed absolute;
    top: 0;
    left: 0;
    width: 10%;
    background-color: rgb(255, 255, 255);
    color: #fff;
    z-index: 100;
  
}

.fundo {

 background-color: #33333333;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo img {
    max-width: 150px;
    height: auto;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: rgb(59, 58, 58);
    font-weight: bold;
    transition: color 0.3s;
}

.menu a:hover {
    color: #9470f5;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(20, 18, 18);
    text-align: center;
    padding: 10px 0;
}
